EMAIL=
MAIL_SMTP_PASSWORD=

OPENROUTER_API_KEY=
DEEPSEEK_API_KEY=

BOOTSTRAP_ADMIN_ENABLED=true
BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_EMAIL=admin@example.com
BOOTSTRAP_ADMIN_PASSWORD=admin


DB_URL=
DB_USERNAME=
DB_PASSWORD=